
{% extends 'autohome/base.html' %}
{% block content %}
<div class="about">
	 <div class="container">
		 <h2> Об эксперте </h2>
			 <ol class="breadcrumb">
				<li><a href="{% url 'index' %}"> Главная </a></li>
				<li class="active"> Об эксперте </li>
			    </ol>
		 <div class="about-grids">
			 <div class="col-md-4 about-pic">
				  <img src="static/autohome/images/pic3.jpg" class="img-responsive" alt=""/>
			 </div>
			 <div class="col-md-8 about-info">

				 <img src="static/autohome/images/55.jpg" class="img-responsive" alt=""/>
				 <p>Эксперт Алексей, c 2020 года профeсcиональнo зaнимаюсь автопoдбopом aвтoмoбиля под ключ и выездной диагностикой автомoбиля пepeд покупкoй</p>
				 <p>При выборе услуге эксперт на день, выезжаю совместно с Вами и делаю экспресс-выборку, выезжаю на осмотр (передвижение на нашем авто). Неограниченное количество осмотров машин в течение дня (8 часов), при этом вы получаете полную проверку и оценку осматриваемых автомобилей.
					Заказывая наши Вы получите: </p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="abt-btm-grids">
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>1</span></figure>
					   </div>
					  <div class="heading">								
						  <h4> Гарантию </h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p> Пpовeрку юpидичеcкой чистоты сдeлки по базaм. Прoверку подлинности документов (ПТС, св-во о регистрации) - стало много криминальных машин с Казахстана и РФ под "смытые" ПТС и с изменением идентификационных номеров! Проверка реального собственника на предмет наличия задолженностей (обезопасит Вас в будущем)</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>2</span></figure>
					   </div>
					  <div class="heading">								
						  <h4> Полный фотоотчет </h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p> Подбор автомобиля под ключ. Поиск будет осуществляться до тех пор, пока мы не найдём по заданным параметрам.Предоставляю фотоотчёт с помощью ПРОФЕССИОНАЛЬНОЙ фото техники. Мы вышлем вам фото авто со всех возможных ракурсов, фото недочетов если таковые имеются и дадим самую честную оценку и рекомендации по автомобилю.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>3</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Уверенность </h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>Полное сопровождение сделки. Каждый день Вы получаете отчет о проделанной работе по поиску автомобилей, по заданным Вами критериям.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>4</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Экономию времени </h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>Не нужно ездить и осматривать автомобили. Вы не тратите время на поиск, телефонные звонки и проверку выбранных вариантов автомобилей.</p>
				 </div>	
			 </div>
			 <div class="clearfix"></div>
		 </div>	
		 <div class="works">
			  <h3> Почему не стоит выбирать авто самому и чем это опасно </h3>
			  <div class="grid_4">
				<div class="text1">
						   <img src="static/autohome/images/t1.jpg" alt="">
						   <h4>Деньги</h4>
						  <p>Потраченными на ремонт скрытых дефектов и неисправностей или оплата налога на автомобиль, который не платил владелец, а вы не сможете снять авто с учета, пока он не будет оплачен. </p>
					  </div>
			  </div>
			  <div class="grid_4">
				 <div class="text1">
						   <img src="static/autohome/images/t2.jpg" alt="">
						   <h4>Здоровье</h4>
						  <p>Автомобиль, побывавший в серьезном ДТП, может вас уже не спасти. Поэтому экономия пары тысяч рублей на проверке может обойтись слишком дорого.</p>
					  </div>
			  </div>
			  <div class="grid_4 span66">
				<div class="text1">
						   <img src="static/autohome/images/t3.jpg" alt="">
						   <h4>Время</h4>
						  <p>Дни и часы, проведенные в автосервисе во время ремонта приобретенного автомобиля с дефектами или судебные разбирательства с обременением на автомобиле.</p>
					  </div>
			  </div>      
			  <div class="grid_4">				 
					  <div class="text1">
						   <img src="static/autohome/images/t4.jpg" alt="">
						   <h4>Нервы</h4>
						  <p> Попытки вернуть неисправный автомобиль в салон или сделать что-то по «липовой» гарантии довольно стрессовое состояние. К тому же малоперспективное. </p>
					  </div>					  
				 </div>
			  </div>
				<div class="clearfix"></div>
          </div>
		 
	 </div>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3> Об эксперте </h3>
				 <ul>
					 <li><a href="{% url 'about' %}"> Об эксперте </a></li>
					<li><a href="{% url 'services' %}"> Услуги </a></li>
					<li><a href="{% url 'blog' %}"> Новости </a></li>
					<li><a href="{% url 'gallery' %}"> Осмотры </a></li>
					<li><a href="{% url 'contact' %}">Контакты </a></li>
					 <li><a href="{% url 'feedback' %}">Отзывы </a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Последние новости </h3>
				 <div class="ftr2-grid">
						 <p>Экстерьер нового Fulwin A8L C-DM стал более стильным: он оснащен восьмиугольной решеткой радиатора с матричным декором, а тонкие фары теперь не соединены с решеткой. Сзади заметно изменение логотипа – вместо «CHERY» теперь используется слово «FULWIN», а также обновлена форма задних фонарей.</p>
						 <a href="#"> 1 час назад </a>
				  </div>
				  <div class="ftr2-grid">
						 <p>В сентябре 2024 года россияне купили 529,4 тыс. легковых автомобилей с пробегом
Сентябрь 2024 года завершился на российском вторичном рынке легковых автомобилей с показателем в 529,4 тысячи проданных машин. Несмотря на небольшое снижение по сравнению с августом (5,5%), общий объем продаж все же превысил сентябрьский результат прошлого года на 3,9%.</p>
						 <a href="#"> 3 часа назад </a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Оставить заявку на услугу:</h3>
				 <p>Заполни форму с описанием и укажи обратный контакт для связи или позвони по номеру: +7 (915) 684-52-73  </p>
				  <form>
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Написать"/>
				 </form>
				 <div class="social">

					   <ul>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="+79156845273" class="btn btn-success"> CAll </a></li>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="//wa.me/79156845273?text=срочный осмотр авто" class="btn btn-success"> WatsApp</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://t.me/howdyho_official" class="btn btn-success"> Telegram</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497" class="btn btn-success"> Avito </a></li>
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="col-md-8 ftr2-bottom">		
			<p>Copyright &copy; 2024<span>AUTOBOTS</span> All rights reserved | Design by <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497m">Auto</p>
	 </div>
</div>
<!---->
{% endblock %}