{% extends 'autohome/main.html' %}
{%block content %}

    <section id="about" class="about-sec section-wrapper description">
        <div class="container">
            <div class="row">
                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">О нас</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">У нас нет ограничений по количеству осмотров автомобиля. Мы никогда не загоняем клиента в рамки. Наша задача найти лучший авто!.</p>
                </div>
                <!-- Section Header End -->

                <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
                    <img src="{% static 'images/features.jpg' %}" alt="Custom Image">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
				<p>Мы предоставляем основную гарантию до 1 года. Кроме этого у нас есть репутационная гарантия на полное покрытие ремонта.</p>
                    <p>Вы производите оплату только по факту оказания услуги, после заключения договора купли продажи. Таким образом заранее не обременяя себя.</p>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Car Wash</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Car Repair</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Car Painting</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}