{% extends 'autohome/base.html' %}
{% block content %}

<title>Auto Cars | О нас </title>
<link href="static/autohome/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="static/autohome/js/bootstrap.js"></script>
<!-- Custom Theme files -->
<link href="static/autohome/css/style.css" rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="static/autohome/js/jquery.min.js"></script>
 <script src="static/autohome/js/bootstrap.js"></script>
<div class="about">
	 <div class="container">
		 <h2> О нас </h2>
			 <ol class="breadcrumb">
				<li><a href="index"> Главная </a></li>
				<li class="active"> О Нас </li>
			    </ol>
		 <div class="about-grids">
			 <div class="col-md-4 about-pic">
				  <img src="static/autohome/images/pic3.jpg" class="img-responsive" alt=""/>
			 </div>
			 <div class="col-md-8 about-info">
				 <h3>Чем поможет специалист по подбору авто? Сколько стоит услуга по подбору автомобиля в Москве и других регионах? Как выбрать автоподборщика и понять, что он окажет квалифицированную помощь при выборе авто, а не просто выудит с вас деньги? </h3>
				 <p>Подбор автомобиля на вторичном рынке не так прост, как может показаться на первый взгляд. Если вы никогда не покупали машину с пробегом и вообще не разбираетесь в авто, вам будет сложно определить техническое состояние ТС, проверить автомобиль на наличие ДТП, а также произвести юридическую оценку автомобиля. Позже это может влететь в копеечку или вовсе лишить вас транспортного средства. </p>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="abt-btm-grids">
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>1</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Car Repair</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>2</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Wheel Alignment</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>3</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Car Wash</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="col-md-3 abt-sec span_1_of_4">
				 <div class="num-heading">
					   <div class="number">
							<figure><span>4</span></figure>
					   </div>
					  <div class="heading">								
						  <h4>Auto Touning</h4>
					  </div>
					  <div class="clearfix"></div>
				 </div> 
				 <div class="heading-desc">	
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
				 </div>	
			 </div>
			 <div class="clearfix"></div>
		 </div>	
		 <div class="works">
			  <h3>Our Team</h3>	  
			  <div class="grid_4">
				<div class="text1">
						   <img src="static/autohome/mages/t1.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>
			  <div class="grid_4">
				 <div class="text1">
						   <img src="static/autohome/images/t2.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>
			  <div class="grid_4 span66">
				<div class="text1">
						   <img src="static/autohome/images/t3.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>
			  </div>      
			  <div class="grid_4">				 
					  <div class="text1">
						   <img src="static/autohome/images/t4.jpg" alt="">
						   <h4>Phasellus scipitilifen lus.</h4>
						  <p>Kuspendisse laoreet augue iderti wer  interdum merti oremolo lectusto odio, sedorolu fringilla estero libero. </p>
					  </div>					  
				 </div>
			  </div>
				<div class="clearfix"></div>
          </div>
		 
	 </div>
<!---->
{% endblock %}