{% extends 'autohome/base.html' %}
{% block content %}

<div class="container">
	      <h3 class="type"> Автоновости </h3>
	      <ol class="breadcrumb">
				<li><a href="{% url 'index' %}"> Главная </a></li>
				<li class="active"> Автоновости </li>
		 </ol>
		 </div>
			<div class="gallery-bottom">
				<li class="img-thumbnail">
			 {% for new in news %}
			 <div class="callbacks .caption">
						 <h4>{{ new.title }}</h4>
					 <h5> {{ new.anons }} </h5>
			</div>
					 <div><img src="{{ new.photo.url }}" class="callbacks .caption" alt="">
					 </div>
				 <p> {{ new.description}}</p>
        {% endfor%}
	</div>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3> Об эксперте </h3>
				 <ul>
					 <li><a href="{% url 'about' %}"> Об эксперте </a></li>
					<li><a href="{% url 'services' %}"> Услуги </a></li>
					<li><a href="{% url 'blog' %}"> Новости </a></li>
					<li><a href="{% url 'gallery' %}"> Осмотры </a></li>
					<li><a href="{% url 'contact' %}">Контакты </a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Последние новости </h3>
				 <div class="ftr2-grid">
					 <a href="{% url 'blog' %}">Мир автолюбителей-узнай больше об авто!</a>
						 <p> {% for new in news %}</p>
					         {% endfor%}
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Получи бесплатную консультацию прямо сейчас:</h3>
				 <div>
					 <a href="{% url 'contact' %}">Напиши нам на e-mail!</a>
				 </div>
				 <div class=".label">
					   <ul>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="+79156845273" class="btn btn-success"> CAll </a></li>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="//wa.me/79156845273?text=срочный осмотр авто" class="btn btn-success"> WatsApp</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://t.me/howdyho_official" class="btn btn-success"> Telegram</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497" class="btn btn-success"> Avito </a></li>
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="col-md-8 ftr2-bottom">
			<p>Copyright &copy; 2024<span>AUTOBOTS</span> All rights reserved | Design by</p>
	 </div>
</div>
<!---->
{% endblock %}