{% extends 'autohome/base.html' %}
{% block content %}
<div class="contact">
		<div class="container">
			<div class="contact-top">
				<h2> Контакты </h2>
				<ol class="breadcrumb">
				<li><a href="{% url 'index' %}"> Главная </a></li>
				<li class="active"> Контакты </li>
			 </ol>
			</div>
			<div class="contact-bottom">
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af79128990ae04617cbc7a9148216c68c55039da8b370ecbda4d324e4201bd8cf&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
				<div class="contact-text">
					<div class="col-md-3 contact-right">
						<div class="address">
							<h5> Адрес </h5>
							<p>AUTOBOTS,
							<span> г.Тула </span>
							пр-т. Ленина, д. 26-А </p>
						</div>
						<div class="address">
							<h5>Телефоны</h5>
							<p>Tel:+7-952-189-54-59,
							<span>Fax:+7-952-189-54-59 </span>
							Email: <a href="mailto:autobots71@ya.ru"> autobots71@ya.ru </a></p>
							</div>
						</div>
<div class="col-md-9 contact-left">
						<h2>Напишите нам, если у вас есть вопросы</h2>
						<p>Пожалуйста, напишите свое имя, адрес электронной почты и сообщение.</p>
						<form action="{% url 'feedback_view' %}" class="col-md-9 contact-left" method="POST">
							{% csrf_token %}
							{{ form.as_p }}
							<div class="submit-btn">
									<input type="submit" value="Отправить">
							</div>
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3> Об эксперте </h3>
				 <ul>
					 <li><a href="{% url 'about' %}"> Об эксперте </a></li>
					<li><a href="{% url 'services' %}"> Услуги </a></li>
					<li><a href="{% url 'blog' %}"> Новости </a></li>
					<li><a href="{% url 'gallery' %}"> Осмотры </a></li>
					<li><a href="{% url 'contact' %}">Контакты </a></li>
				 </ul>
			 </div>
				 <div class="col-md-4 ftr2-grid2">
				 <h3>Последние новости </h3>
				 <div class="ftr2-grid">
					 <a href="{% url 'blog' %}">Мир автолюбителей-узнай больше об авто!</a>
						 <p> {% for new in news %}</p>
					         {% endfor%}
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Получи бесплатную консультацию прямо сейчас:</h3>
				 <div>
					 <p>
					 <a href="{% url 'contact' %}">Напиши нам на e-mail!</a>
					 </p>
				 </div>
				 <div class=".label">
					   <ul>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="+79521895459" class="btn btn-success"> CAll </a></li>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="//wa.me/79156845273?text=срочный осмотр авто" class="btn btn-success"> WatsApp</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://t.me/howdyho_official" class="btn btn-success"> Telegram</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497" class="btn btn-success"> Avito </a></li>
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="col-md-8 ftr2-bottom">
			<p>Copyright &copy; 2024<span>AUTOBOTS</span> All rights reserved | Design by <a href="//wa.me/79156845273">Auto</a></p>
	 </div>
</div>
<!---->
{% endblock %}