{% extends 'autohome/base.html' %}
{% block content %}
<!-- banner -->
<div class="banner banner2">
	 <div class="container">
	     <div class="header">
			 <div class="logo">
				 <h1><a href="index"><img src="'static/autohome/images/car.png" alt=""/>AUTO <span>BOTS</span></a></h1>
			 </div>
			 <div class="top_details">
				 <p><span></span> +7-915-684-52-73 </p>
				 <div class="search">
				 <form>
					<input type="text" value="" placeholder="Search...">
					<input type="submit" value="">
					</form>
			     </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
			 </div>
			 <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
						<li><a href="{ url 'index' }">  Главная <span class="sr-only">(current)</span></a></li>
					<li><a href="{ url 'about' }"> О нас </a></li>
					<li><a href="{ url 'services' }">Наши услуги</a></li>
					<li><a href="{ url 'blog' }"> Новости </a></li>
					<li><a href="{ url 'gallery' }"> Наши осмотры </a></li>
					<li class="active"><a href="{ url 'contact' }"> Контакты </a></li>
				  </ul>
			 </div>
	      </nav>
	 </div>
</div>
<!---->
<div class="contact">
		<div class="container">
			<div class="contact-top">
				<h2>Контакты</h2>
				<ol class="breadcrumb">
				<li><a href="index"> Главная  </a></li>
				<li class="active">{Контакты}</li>
			 </ol>
			</div>
			<div class="contact-bottom">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259" frameborder="0" style="border:0"></iframe>
				<div class="contact-text">
					<div class="col-md-3 contact-right">
						<div class="address">
							<h5>Address</h5>
							<p>The company name, 
							<span>Lorem ipsum dolor,</span>
							Glasglow Dr 40 Fe 72.</p>
						</div>
						<div class="address">
							<h5>Address1</h5>
							<p>Tel:1115550001, 
							<span>Fax:190-4509-494</span>
							Email: <a href="mailto:example@email.com">contact@example.com</a></p>
						</div>
					</div>
					<div class="col-md-9 contact-left">
						<form>
						<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" />
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
						<input type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" />
						<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
							<div class="submit-btn">								
									<input type="submit" value="SUBMIT">							
							</div>
						</form>
					</div>						
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3>About Us</h3>
				 <ul>
					  <li><a href=" about "> О нас </a></li>
					<li><a href=" services "> Наши услуги</a></li>
					<li><a href=" blog "> Новости </a></li>
					<li><a href=" gallery "> Наши осмотры </a></li>
					<li><a href=" contact "> Контакты </a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Latest Tweets</h3>
				 <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#">Новости за вчера </a>
				  </div>
				  <div class="ftr2-grid">
						 <p>It is a long established fact that a 
						 reader will be distracted by the of a reader page when at its layout.</p>
						 <a href="#"> Новости на прошлой неделе </a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Get in Touch</h3>				 
				 <p>It is a long established fact that a reader will be distracted by the r-
				 eadable content of a page when looking at its layout.</p>
				 <form>					 
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Subscribe"/>
				 </form>
				 <div class="social">
					   <ul>
							<li><a href="#"><i class="facebook"></i></a></li>
							<li><a href="#"><i class="whatsApp"></i></a></li>
							<li><a href="#"><i class="dribble"></i></a></li>	
							<li><a href="#"><i class="google"></i></a></li>										
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="col-md-8 ftr2-bottom">		
			<p>Copyright &copy; 2024 <span>AUTOBOTS</span> All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	 </div>
</div>
<!---->

{% endblock %}