{% extends 'autohome/base.html' %}
{% block content %}
<div class="gallery">
		<div class="container">
			<div class="gallery-top gal_heading">
				<h2> Осмотры </h2>
				<ol class="breadcrumb">
				<li><a href="{% url 'index' %}"> Главная </a></li>
				<li class="active"> Осмотры </li>
			    </ol>
			</div>
			<div class="gallery-bottom">
					 {% for pic in pics %}
						 <div class="biseller-column">
							 <h4>{{ pic.title }}</h4>
							 <div><img src="{{ pic.photo.url }}" class="img-responsive" alt=""><div>
					 <h5> {{ pic.description }} </h5>
							 </div>
				 <p> {{ pic.time_created }}</p>
		{% endfor%}
	</div>

	<!----end-gallery---->
	<script src="js/grid.js"></script>
		<script>
			$(function() {
				Grid.init();
			});
		</script>
<!---->
<div class="footer2">	
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">			 
				 <h3> Об эксперте </h3>
				 <ul>
					 <li><a href="{% url 'about' %}"> Об эксперте </a></li>
					<li><a href="{% url 'services' %}"> Услуги </a></li>
					<li><a href="{% url 'blog' %}"> Новости </a></li>
					<li><a href="{% url 'gallery' %}"> Осмотры </a></li>
					<li><a href="{% url 'contact' %}">Контакты </a></li>
					 <li><a href="{% url 'feedback' %}">Отзывы </a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Последние новости </h3>
				 <div class="ftr2-grid">
						 <p>Экстерьер нового Fulwin A8L C-DM стал более стильным: он оснащен восьмиугольной решеткой радиатора с матричным декором, а тонкие фары теперь не соединены с решеткой. Сзади заметно изменение логотипа – вместо «CHERY» теперь используется слово «FULWIN», а также обновлена форма задних фонарей.</p>
						 <a href="#"> 1 час назад </a>
				  </div>
				  <div class="ftr2-grid">
						 <p>В сентябре 2024 года россияне купили 529,4 тыс. легковых автомобилей с пробегом
Сентябрь 2024 года завершился на российском вторичном рынке легковых автомобилей с показателем в 529,4 тысячи проданных машин. Несмотря на небольшое снижение по сравнению с августом (5,5%), общий объем продаж все же превысил сентябрьский результат прошлого года на 3,9%.</p>
						 <a href="#"> 3 часа назад </a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Оставить заявку на услугу:</h3>
				 <p>Заполни форму с описанием и укажи обратный контакт для связи или позвони по номеру: 7-952-189-54-59 </p>
				 <form>
					  <input type="text" class="text" value="Введите Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Введите Email';}">
					 <input type="submit" value="Написать"/>
				 </form>
				 <div class="social">

					   <ul>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="+79521895459" class="btn btn-success"> CAll </a></li>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="//wa.me/79156845273?text=срочный осмотр авто" class="btn btn-success"> WatsApp</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://t.me/howdyho_official" class="btn btn-success"> Telegram</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497" class="btn btn-success"> Avito </a></li>
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="col-md-8 ftr2-bottom">
			<p>Copyright &copy; 2024<span>AUTOBOTS</span> All rights reserved | Design by <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497m">Auto</p>
	 </div>
</div>
<!---->
{% endblock %}