{% extends 'autohome/main.html' %}
{%block content %}

    <section class="slider-pro slider" id="slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="{% static 'images/slider/slider-img-1.jpg' %}" alt="Slider 1"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Fast Car Repair</span>
                </h1>
 
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
                <img class="sp-image" src="{% static 'images/slider/slider-img-2.jpg' %}" alt="Slider 2"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Best Car Service</span>
                </h1>
 
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="% static 'images/slider/slider-img-3.jpg' %}" alt="Slider 3"/>

                <h1 class="sp-layer slider-text-big"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Lazer Car Paint</span>
                </h1>
 
            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->


{% endblock %}