{% extends 'autohome/base.html' %}
{% block content %}

<div class="welcome">
	<div class="container">
		  <div class="welcome_sec">
			 <div class="col-md-6 welcome_info">
			      <h3> Об эксперте </h3>
				  <span></span>
				  <h4> Если кратко, моя основная задача – сохранить ваше время, деньги и спокойствие при покупке авто. </h4>
				  <p> Ваша задача как потребителя услуги, правильно подойти к выбору специалиста, который профессионально выполнит свою работу.</p>
				 <p>Сертифицированный эксперт с профильным образованием и одним из лучших комплектов оборудования для проверки авто – ваша гарантия и страховка от покупки плохого автомобиля</p>
				 <a href="{% url 'about' %}" class="hvr-bounce-to-bottom"> Подробнее </a>
			 </div>
			 <div class="col-md-6 welcome_pic">
				 <h2>Главное, не путать эксперта с юнцами, недавно купившими толщиномер и позиционирующими себя знатоками в сфере автоподбора</h2>
				 <img src="static/autohome/images/wc.jpg" class="img-responsive" alt=""/>
				 <h3> Низкая стоимость услуг в любой сфере = низкая квалификация исполнителя и качество услуги</h3>
				 <p>Осмотр шасси и днище:
					- проверка состояние покрышек
					- проверка тормозных дисков, колодок
					- осмотр состояния днища авто в целом</p>
				 <p></p>
			 </div>
			 <div class="clearfix"></div>
		  </div>
	</div>
</div>
<!---->
<div class="auto_sec">
	 <div class="container">
		 <h3>⭐️ Почему Вaм нужнo oбратитьcя зa пoмoщью в подбoрe автoмoбиля к нaм? </h3>
		 <span></span>
		 <div class="auto_sec_grids">
			  <div class="col-md-8 auto_sec_left">
				 <img src="static/autohome/images/pic2.jpg" class="img-responsive" alt=""/>
				 <h5><a href="#">Индивидуальный пoдход к кaждому клиенту, пpофессиoнализм, вeжливоcть и пoрядочность, мы pабoтaeм нa pепутацию!</a></h5>
				 <p>Aвтоподбор "пoд ключ"
⚡️Экoнoмия до 35%
⚡️Бoлеe 6 лeт oпыт рабoты с автомобилями на втopичном рынке
⚡️Пoдбор автомoбиля в течениe 3 днeй ⚡️Опеpaтивный выезд нa оcмотр автомобиля в течение 1 часа
⚡️Проверка авто по 122 параметрам
⚡️Экономим время клиентов и деньги клиентов!
⚡️Мы знаем все тонкости и хитрости недобросовестных продавцов, большинство недостойных внимания предложений можно отсеять уже на этапе телефонного разговора.
Подберем для Вас лучший автомобиль, из представленных на данный момент в любом ценовом диапазоне!
⚡️Вам нужно только выбрать критерии поиска (марка/модель, комплектация, год выпуска, бюджет). При необходимости с удовольствием проконсультируем и поможем определиться!
⚡️Есть услуга и по разовому осмотру автомобиля!</p>
			  </div>
			  <div class="col-md-4 auto_sec_right">
				 <p><a href="{% url 'gallery' %}"> Осмотры </a></p>
			  </div>
			  <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
 <script>
    $(function () {
      $("#slider2").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks2",
        pager: true,
      });
    });
  </script>

<div class="slider btm_sld">
	 <div class="container">
		 <div class="callbacks2_container">
			 <ul class="rslides" id="slider2">
					 <li>
						<p>Мы единственные на рынке кто работает открыто честно и не берут откаты</p>
					 </li>
					 <li>
						<p>НАШЕ КЛЮЧЕВОЕ ОТЛИЧИЕ ОТ КОЛЛЕГ:
МЫ ПОДБИРАЕМ АВТОМОБИЛИ ПО НИЗУ РЫНКА!</p>
					 </li>
					 <li>
						<p>В случае форс-мажора у нас всегда есть взаимозаменяемые сотрудники, которые оперативно заменяют друг друга</p>
					 </li>
			 </ul>
		 </div>
	 </div>
</div>
<!---->

<!---->
<div class="feature_sec">
	 <div class="container">
		 <div class="feature_head">
			 <h3> Наши осмотры </h3>
			 <span></span>
		 </div>
		 <ul id="flexiselDemo3">
				 <li>
					<div class="biseller-column">
							<a href="#"><img src="static/autohome/images/36e8f09s-1920.jpg" alt=""/></a>
							<h4>Осмотр Haval F7x, I, 2020</h4>
							<p>Кузов весь в заводской краске, за исключением переднего левого крыла, вторичный окрас (без шпаклевки). Во время тест-драйва работа электрооборудования, двигателя, переключения передач, включения блокировок происходили правильно и корректно</p>
							<a class="more hvr-bounce-to-bottom" href="{% url 'gallery' %}">Подробнее...</a>
					</div>
				</li>
				<li>
					<div class="biseller-column">
							<a href="#"><img src="static/autohome/images/carrozziere-scaled.jpg " alt=""/></a>
							<h4>Осмотр авто Kia Optima IV 2.4 АКПП 2017 года 64 000 км.</h4>
							<p>Кузов весь в заводской краске, за исключением переднего левого крыла, вторичный окрас (без шпаклевки).</p>
							<a class="more hvr-bounce-to-bottom" href="{% url 'gallery' %}">Подробнее..</a>
					</div>
				</li>
				<li>
					<div class="biseller-column">
							<a href="#"><img src="static/autohome/images/pic8.jpg" alt=""/></a>
							<h4> CHANGAN UNI-T 2024 </h4>
							<p>Кузов весь в заводской краске, за исключением переднего левого крыла, вторичный окрас (без шпаклевки).
Во время тест-драйва работа электрооборудования, двигателя, переключения передач, включения блокировок происходили правильно и корректно.
Автомобиль к покупке рекомендован.</p>
							<a class="more hvr-bounce-to-bottom" href="{% url 'gallery' %}">Подробнее...</a>
					</div>
				</li>
				<li>
					<div class="biseller-column">
							<a href="#"><img src="static/autohome/images/body-repair.jpg" alt=""/></a>
							<h4>Авто Lada Largus универсал 2023</h4>
							<p>Кузов весь в заводской краске, за исключением переднего левого крыла, вторичный окрас (без шпаклевки).
Во время тест-драйва работа электрооборудования, двигателя</p>
							<a class="more hvr-bounce-to-bottom" href="{% url 'gallery' %}">Подробнее...</a>
					</div>
				</li>
	     	</ul>
				<div class="clearfix"></div>
			<script type="text/javascript">
				 $(window).load(function() {
					$("#flexiselDemo3").flexisel({
						visibleItems:4,
						animationSpeed: 1000,
						autoPlay: true,
						autoPlaySpeed: 3000,
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
				    	responsiveBreakpoints: {
				    		portrait: {
				    			changePoint:480,
				    			visibleItems:2
				    		},
				    		landscape: {
				    			changePoint:640,
				    			visibleItems:2
				    		},
				    		tablet: {
				    			changePoint:768,
				    			visibleItems:3
				    		}
				    	}
				    });

				});
			   </script>
			   <script type="text/javascript" src="static/autohome/js/jquery.flexisel.js"></script>
	 </div>
</div>
<!---->
<div class="footer2">
	 <div class="container">
	     <div class="ftr2-grids">
		      <div class="col-md-4 ftr2-grid1">
				 <h3> Об эксперте </h3>
				 <ul>
					 <li><a href="{% url 'about' %}"> Об эксперте </a></li>
					<li><a href="{% url 'services' %}"> Услуги </a></li>
					<li><a href="{% url 'blog' %}"> Новости </a></li>
					<li><a href="{% url 'gallery' %}"> Осмотры </a></li>
					<li><a href="{% url 'contact' %}">Контакты </a></li>
					 <li><a href="{% url 'feedback' %}">Отзывы </a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr2-grid2">
				 <h3>Последние новости </h3>
				 <div class="ftr2-grid">
						 <p>Экстерьер нового Fulwin A8L C-DM стал более стильным: он оснащен восьмиугольной решеткой радиатора с матричным декором, а тонкие фары теперь не соединены с решеткой. Сзади заметно изменение логотипа – вместо «CHERY» теперь используется слово «FULWIN», а также обновлена форма задних фонарей.</p>
						 <a href="#"> 1 час назад </a>
				  </div>
				  <div class="ftr2-grid">
						 <p>В сентябре 2024 года россияне купили 529,4 тыс. легковых автомобилей с пробегом
Сентябрь 2024 года завершился на российском вторичном рынке легковых автомобилей с показателем в 529,4 тысячи проданных машин. Несмотря на небольшое снижение по сравнению с августом (5,5%), общий объем продаж все же превысил сентябрьский результат прошлого года на 3,9%.</p>
						 <a href="#"> 3 часа назад </a>
				  </div>
			 </div>
			 <div class="col-md-4 ftr6-grid3">
				 <h3>Оставить заявку на услугу:</h3>
				 <p>Заполни форму с описанием и укажи обратный контакт для связи или позвони по номеру: +7 (915) 684-52-73  </p>
				 <form>
					  <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
					 <input type="submit" value="Написать"/>
				 </form>
				 <div class="social">

					   <ul>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="+79156845273" class="btn btn-success"> CAll </a></li>
						   <li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="//wa.me/79156845273?text=срочный осмотр авто" class="btn btn-success"> WatsApp</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://t.me/howdyho_official" class="btn btn-success"> Telegram</a></li>
							<li class="contact_btn" style="float:right; padding-left: 50x">
				 <a href="https://www.avito.ru/tula/predlozheniya_uslug/avtopodbor_tula_-_tul_obl_proverka_avto_s_probegom_2269374497" class="btn btn-success"> Avito </a></li>
					  </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <div class="col-md-8 ftr2-bottom">
			<p>Copyright &copy; 2024<span>AUTOBOTS</span> All rights reserved | Design by <a href="//wa.me/79156845273">Auto</a></p>
	 </div>
</div>
<!---->
{% endblock %}