 {% load static %}

    <header>
        <!-- Navigation Menu start-->
        <nav class="navbar main-menu">
            <div class="container">

                <!-- Navbar Toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html"><img class="logo" id="logo" src="{% static 'images/logo.png' %}" alt="logo"></a>

                </div>
                <!-- Navbar Toggle End -->

                <!-- navbar-collapse start-->
                <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav menu-wrapper">
                        <li class="active">
                            <a href="#slider">Главная</a>
                        </li>
                        <li>
                            <a href="#about"> О нас </a>
                        </li>
						 <li>
                            <a href="#services">Услуги</a>
                        </li>
                        <li>
                            <a href="#portfolio">Осмотры</a>
                        </li>

                        <li>
                            <a href="#pricing">Цены</a>
                        </li>

                        <li>
                            <a href="#team">Отзывы</a>
                        </li>
                        <li>
                            <a href="#contact">Контакты</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse end-->

            </div>
        </nav>
        <!-- Navigation Menu end-->
    </header>
    <!-- Header End -->