 {% load static %}
<!-- banner -->
<div class="banner">
	 <div class="container">
	     <div class="header">
			 <div class="logo">
				 <h1><a href="index.html"><img src="static/images/car.png" alt=""/>AUTO <span>BOTS</span></a></h1>
			 </div>
			 <div class="top_details">
				 -<p><span></span> +7-915-684-52-73 </p>
				 <div class="search">
				 <form>
					<input type="text" value="" placeholder="Поиск...">
					<input type="submit" value="">
					</form>
			     </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <nav class="navbar navbar-default">
			 <div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Меню сайта</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
			 </div>
			 <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'index' %}"> Главная <span class="sr-only">(current)</span></a></li>
					<li><a href="{% url 'about' %}"> Об эксперте </a></li>
					<li><a href="{% url 'services' %}"> Услуги </a></li>
					<li><a href="{% url 'blog' %}"> Новости </a></li>
					<li><a href="{% url 'gallery' %}"> Осмотры </a></li>
					<li><a href="{% url 'contact' %}">Контакты </a></li>
				  </ul>
			 </div>
	      </nav>

		<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
					 <div class="banner-info">
						 <h3>Разовый осмотр автомобиля</h3>
						 <p>Разовый осмотр автомобиля – это выезд автоподборщика на осмотр одной машины, самостоятельно найденной покупателем. Эксперт проверит документы и техническое состояние транспортного средства и после осмотра даст аргументированную рекомендацию в пользу приобретения или отказа от покупки автомобиля. Стоимость услуги в Москве составляет – от 3 000 рублей, в регионах – от 2 000 рублей.</p>
					 </div>
				    </li>
					<li>
					 <div class="banner-info">
						 <h3>Эксперт на день</h3>
						 <p>Услуга «Эксперт на день» подойдет тем, кто хочет посмотреть несколько машин за день. В течение одного дня подборщик может осмотреть от трех автомобилей. Общее количество будет зависеть от количества предложений и загруженности городского трафика. Варианты для осмотра покупатель выбирает сам или вместе с автоподборщиком.</p>
					 </div>
					</li>
					<li>
					 <div class="banner-info">
						 <h3>Подбор автомобиля под ключ</h3>
						 <p>Что значит подбор машины под ключ? Это услуга, при которой автоподборщик сам подыскивает варианты авто по запросам покупателя. Если клиент не определился с маркой и моделью машины, автоэксперт поможет с выбором.</p>
					 </div>
					</li>
				</ul>
			</div>
	 </div>
</div>
<!---->