{% extends 'autohome/main.html' %}
{%block content %}

    <section id="pricing" class="pricing-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Pricing</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p>
                </div>
                <!-- Section Header End -->

                <div class="pricing-wrapper">

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                        <div class="pricing-titles">
                            <h2>Bronze</h2>
                            <p><span>$16/</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Car Checkup</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                         <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                        <div class="pricing-titles">
                            <h2>Gold</h2>
                            <p><span>$69/</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Car Wash</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                        <div class="pricing-titles">
                            <h2>Platinum</h2>
                            <p><span>$99/</span></p>
                        </div>
                        <div class="pricing-service-name">
                             <ul>
                                <li>Car Repair</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
								 <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>


                    </div>
                    <!-- Plans End -->

                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->
{% endblock %}