{% extends 'autohome/base.html' %}
{% block content %}
<!---->
<div class="services">
	 <div class="container">
		 <h2> Наши услуги</h2>
			 <ol class="breadcrumb">
				<li><a href="index">  Главная  </a></li>
				<li class="active"> Наши услуги </li>
			    </ol>
	    	<div class="section group sec_group">
				<div class="col-md-6 service_sec">
					<div class="listimg listimg_2_of_1">
						  <img src="static/autohome/images/service-6.png" alt="" />
					</div>
				    <div class="text list_2_of_1">
						<h3>Сверка VIN номера:</h3>
						<p>- нанесения VIN номера / номер двигателя
							- документы, дублирующие таблички и электронные блоки</p>
				   </div>
				   <div class="clearfix"></div>
			   </div>
			  <div class="col-md-6 service_sec ">
					<div class="listimg listimg_2_of_1">
						  <img src="static/autohome/images/service-2.png" alt="" />
					</div>
					<div class="text list_2_of_1">
						  <h3>Сверка маркировочных обозначений и датировок:</h3>
						  <p>- стекла, ремни безопасности, оптика, и т.д.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="section group sec_group">
				<div class="col-md-6 service_sec">
					<div class="listimg listimg_2_of_1">
						  <img src="static/autohome/images/service-3.png" alt="" />
					</div>
				    <div class="text list_2_of_1">
						<h3>Проверка кузова:</h3>
						<p>- силовая часть
							- вторичные окрасы / ремонт элемента
							- болты оперения
							- оригинальность элементов, зазоры</p>
				   </div>
				   <div class="clearfix"></div>
			   </div>
				<div class="col-md-6 service_sec">
					<div class="listimg listimg_2_of_1">
						  <img src="static/autohome/images/service-4.png" alt="" />
					</div>
					<div class="text list_2_of_1">
						  <h3>Выявления недостатков салона и багажного отделения:</h3>
						  <p>- осмотр наличия систем безопасности
							  - осмотр повреждения различного характера
							  - проверка работоспособности электронных систем</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		 <div class="section group sec_group">
				<div class="col-md-6 service_sec">
					<div class="listimg listimg_2_of_1">
						<img src="static/autohome/images/service-5.png" alt="" />
					</div>
				    <div class="text list_2_of_1">
						<h3>Компьютерная диагностика автомобиля:</h3>
						<p>- проверка наличия активных ошибок
							- проверка находящихся ошибок в истории
							- проверка на корректировку пробега в блоках ЭБУ
							- проверка текущих параметров/p>

				   </div>
				   <div class="clearfix"></div>
			   </div>
				<div class="col-md-6 service_sec">
					<div class="listimg listimg_2_of_1">
						  <img src="static/autohome/images/service-1.png" alt="" />
					</div>
					<div class="text list_2_of_1">
						  <h3>Tyre Services</h3>
						  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
		 </div>
	 </div>
 </div>
<!---->
{% endblock %}