{% extends 'autohome/main.html' %}
{%block content %}
    <section id="services" class="section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Services</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p>
                </div>
                <!-- Section Header End -->

                <div class="our-services">


		 <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_cone"></i> <h3>Car Repair</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
							</div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_mug"></i><h3>Car Wash </h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_currency"></i><h3>Car Checkup</h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
                        </div>
</div>

                    </div>
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_star-half_alt"></i><h3>Mobile Service</h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_music"></i><h3>Car Painting</h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
                        </div>
</div>
                        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
						<div class="service-box">
                            <div class="icon">
                                <i class="icon_cog"></i><h3>Car Sales</h3>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero praesentium quam nulla, porro nemo.</p>
                        </div>
</div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}