{% extends 'autohome/main.html' %}
{%block content %}

<section id="team" class="bgSection teams-section">
<div class="parallax-overlay"></div>
        <div class="teams-wrapper wow bounceIn">
            <div class="container">
                <div class="row">

                    <!-- Section Header -->
                    <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                        <h2><span class="highlight-text-inverted">Team</span></h2>

                        <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque in minus distinctio dolores ipsam.</p>
                    </div>

                    <!-- teams Slider -->
                    <div id="teams" class="owl-carousel teams">

                        <!-- Slides -->
                        <div class="teams-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/img-teams/team1.jpg" alt="">
							<p class="client-info">Chris Willam</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>

                        </div>
                        <!-- Slides End -->

                        <!-- Slides -->
                        <div class="teams-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/img-teams/team2.jpg" alt="">
							<p class="client-info">Randy Dode</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>

                        </div>
                        <!-- Slides End -->

                        <!-- Slides -->
                        <div class="teams-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/img-teams/team3.jpg" alt="">
							 <p class="client-info">Michel Kimte</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisic</p>

                        </div>
                        <!-- Slides End -->

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}